#custom {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/img/IMGP1825.jpg') no-repeat center center;
  color: #fff;
  // TODO
  min-height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


#about {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/img/IMGP1792.jpg') no-repeat center center;
  color: #fff;
  // TODO
  min-height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
